@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900)

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700)

$footer-height: 100px
$background-color: #2e3140
$text-color: #ffc37a
$link-color: #ffffd3
$hover-color: #ffffba
$open-sans: "Open Sans", "sans-serif"

=box-sizing($box-model)
  -webkit-box-sizing: $box-model
  -moz-box-sizing: $box-model
  box-sizing: $box-model

*
  margin: 0
  padding: 0

html
  position: relative
  min-height: 100%

body
  background-color: $background-color
  color: $text-color
  font-family: $open-sans
  +box-sizing(border-box)

#container
  max-width: 1200px
  min-width: 800px
  margin: 0 auto $footer-height auto
  padding: 0 20px

header
  padding-top: $footer-height / 2

footer
  position: absolute
  bottom: 0
  height: $footer-height
  width: 230px
  font-size: 40px
  a
    color: $text-color
    padding-right: 10px

a
  color: $link-color
  text-decoration: none

a:hover
  color: $hover-color
  text-decoration: none

h1, h2
  font-family: 'Raleway', 'sans-serif'

h1
  font-weight: 900
  font-size: 60px

h2
  font-weight: 700
  font-size: 35px

#index
  font-size: 32px
  line-height: 50px
  margin-top: 150px
  text-align: right
