/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
  position: relative;
}

body {
  background-color: #29282C;
  font-family: 'Open Sans', sans-serif;
  color: #feeeee;
  font-size: 18px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #66cfcc;
}

a:hover {
  color: #99efee;
}

header {
  padding: 80px 0;
  float: left;
  max-width: 1000px;
  left: 50%;
  margin-left: -500px;
  position: relative;
}

header h1 {
  font-size: 60px;
}

header h2 {
  font-size: 28px;
  padding-left: 2px;
}

footer {
  position: relative;
  height: 80px;
  max-width: 1000px;
  left: 50%;
  margin-left: -500px;
}

#social-icons {
  font-size: 30px;
}

#social-icons a {
  padding-right: 10px;
}

#content {
  clear: both;
  position: relative;
  line-height: 1.75em;
  max-width: 750px;
  position: relative;
  left: 50%;
  margin-left: -375px;
  padding-bottom: 50px;
  height: 100%;
}

#content h2, #content h3, #content p {
  padding-bottom: 15px;
}

#content h2 {
  font-size: 28px;
}

#content h3 {
  font-size: 20px;
}

#content a {
  font-weight: bold; 
}

#posts {
  list-style-type: none;
}

.more-button, .back-button {
  text-transform: uppercase;
  margin: 15px 0 30px 0;
  font-size: 16px;
}

.more-button a, .back-button a {
  background-color: #66cfcc;
  color: #29282C;
  padding: 7px 12px;
  border-radius: 3px;
}

.more-button a:hover, .back-button a:hover {
  background-color: #99efee;
  color: #49484C;
}
