@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

/* Le Styles */

body {
  position: relative;
  background-color: #E05221;
  color: #3D210C;
  font-family: 'Open Sans', 'sans-serif';
  padding: 50px;
  max-width: 1200px;
  min-width: 800px;
  height: 700px;
  margin: auto;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
}

a         { color: #3D210C; text-decoration: none; }
a:hover   { color: #DDD; text-decoration: none; }

h1, h2 {
  font-family: 'Raleway', 'sans-serif';
}

h1 {
  font-weight: 900;
  font-size: 60px;
}

h2 {
  font-weight: 700;
  font-size: 35px;
}

footer {
  position: absolute;
  bottom: 50px;
  font-size: 40px;
}

footer a {
  padding-right: 10px;
}

#index {
  margin: 100px auto;
  padding: 50px 0;
  font-size: 32px;
  line-height: 50px;
  text-align: right;
}

#index a {
  color: #4D311C;
}

#index a:hover {
  color: #DDD;
}
