<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="container">
      <header>
        <h1 class="title">{{ site.name }}</h1>
        <h2>Maker of Things</h2>
      </header>

      {{ content }}

      <footer>
        <a href="https://github.com/DevoNoel" target="_blank"><i class="fa fa-github"></i></a>
        <a href="http://codepen.io/DevoNoel/" target="_blank"><i class="fa fa-codepen"></i></a>
        <a href="https://twitter.com/NoelDevo" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="mailto:devon.noeldetilly@gmail.com"><i class="fa fa-envelope"></i></a>
      </footer>
    <div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35781451-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
