<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div id="site">
          <header>
            <h1><a href="/">DevoNoel</a></h1>
            <h2>Maker of Things</h2>
          </header>
          <div id="content">
            {{ content }}
          </div>
          <footer>
            <div id="social-icons">
              <a href="https://github.com/DevoNoel"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/NoelDevo"><i class="fa fa-twitter"></i></a>
              <a href="mailto:devon.noeldetilly@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
          </footer>
        </div>
    </body>
</html>
